* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
  font-weight: 400;
}
.page {
  position: relative;
  height: 100%;
  margin-bottom: -1 * $footer_height;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  @media (min-width: $min_lg) {
    padding: 30px 40px 40px 40px;
  }
  @media (min-width: $min_sm) and (max-width: $max_md) {
    padding: 30px 5% 40px 5%;
  }
  @media (max-width: $max_xs) {
    padding: 20px 5% 30px 5%;
  }
}
.clear {
  clear: both;
}

.nav {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.nav__name {
  float: left;
  letter-spacing: 0.6px;
  font-size: 24px;
  text-decoration: none;
}
.nav__list {
  list-style: none;
  margin: 0;
  text-align: right;
}
.nav__item {
  display: inline-block;
  margin-left: 20px;
}
.nav__link {
  text-decoration: none;
  font-weight: 700;
  color: $black;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: $highlight;
  }
}

.footer {
  position: absolute;
  font-size: 12px;
  text-align: right;
  bottom: 0;
  height: $footer_height - 10;
  @media (min-width: $min_lg) {
    right: 40px;
  }
  @media (min-width: $min_sm) and (max-width: $max_md) {
    right: 5%;
  }
  @media (max-width: $max_xs) {
    right: 5%;
  }
}
