.headshot {
  background-size: contain;
  border-radius: 50%;
  background-image: (url("/images/pineapple.jpg"));
  @media (max-width: $max-xs) {
    width: 300px;
    height: 300px;
    margin: 80px auto 0 auto;
    margin-bottom: 30px;
  }
  @media (min-width: $min-sm) and (max-width: $max-sm) {
    margin-top: 90px;
    float: left;
    width: 300px;
    height: 300px;
  }
  @media (min-width: $min-md) {
    margin-top: 90px;
    float: left;
    width: 340px;
    height: 340px;
  }
}
.bio {

  p {
    padding-bottom: 24px;
  }

  @media (max-width: $max-xs) {
    width: 100%;
  }
  @media (min-width: $min-sm) {
    float: left;
    width: calc(100% - 410px);
    margin-left: 70px;
    margin-top: 108px;
  }
}
.contact {
  margin-top: 20px;
  > li {
    font-size: 14px;
    padding: 5px 0;
  }

  i {
    margin-right: 10px;
  }
}



