.hero {
  margin-top: 100px;
  @media (max-width: $max_xs) {
    width: 100%;
    margin-top: 70px;
  }
  @media (min-width: $min_sm) and (max-width: $max_md) {
    width: 60%;
  }
  @media (min-width: $min_lg) {
    width: 50%;
  }
}
.hero__name {
  margin-bottom: 10px;
}
.projects {
  @media (max-width: $max_xs) {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  @media (min-width: $min_sm) {
    margin-top: 135px;
    margin-bottom: 100px;
  }
}
.projects__header {
  padding-bottom:  5px;
}
.project {
  position: relative;
  height: auto;
  float: left;

  &:hover {
    .project__overlay {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .project__info {
      margin-bottom: 10px;
    }
  }
  @media (max-width: $max_xs) {
    width: 100%;
    margin: 20px 0;
  }
  @media (min-width: $min_sm) and (max-width: $max_sm) {
    width: calc(50% - 12px);
    margin: 12px;
    &:nth-child(2n+1) {
      margin: 12px 12px 12px 0;
    }
    &:nth-child(2n) {
      margin: 12px 0 12px 12px;
    }
  }
  @media (min-width: $min-md) {
    width: calc(33.333% - 16px);
    margin: 12px;
    &:nth-child(3n+1) {
      margin: 12px 12px 12px 0;
    }
    &:nth-child(3n) {
      margin: 12px 0 12px 12px;
    }
  }
}
.project__img-wrap {
  position: relative;
  background-color: $black;
}
.project__img {
  width: 100%;
  height: auto;
  display: block;
}
.project__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.project__info {
  position: absolute;
  background-size: contain;
  color: $white;
  transition: all 0.15s ease-in-out;
  @media (max-width: $max_xs) {
    margin-left: 20px;
    bottom: 20px;
  }
  @media (min-width: $min_sm) and (max-width: $max_sm) {
    margin-left: 16px;
    bottom: 16px;

  }
  @media (min-width: $min_md) {
    margin-left: 20px;
    bottom: 20px;
  }
}
.project__blurb {
  padding-top: 5px;
  line-height: 1.3;
  @media (max-width: $max_xs) {
    font-size: 14px;
  }
  @media (min-width: $min_sm) and (max-width: $max_sm) {
    font-size: 16px;
  }
  @media (min-width: $min_md) {
    font-size: 14px;
  }
}

