.proj-name {
  @media (max-width: $max_xs) {
    margin-top: 80px;
  }
  @media (min-width: $min_sm) {
    margin-top: 140px;
  }
}
.proj-details {
  margin-top: 12px;
  margin-bottom: 55px;
}
.proj-detail {
  font-size: 14px;
  line-height: 1.6;
  @media (min-width: $min-sm) {
  display: inline-block;
    &:after {
      content: "|";
      display: inline-block;
      margin: 0 10px;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
.proj-header {
  margin-top: 40px;
}
.proj-content {
  margin-bottom: 160px;
  .proj-image-wrap {
    padding: 20px 0 20px 0;
  }
  h3 {
    padding: 0 0 10px 0;
  }
}
.proj-content .copy {
  max-width: 450px;
}
.proj-image-wrap {
  @media (max-width: $max-xs) {
    width: 100%;
  }
}
.proj-image {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;

  img {
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  }
}
.desktop img {
  width: 1600px;
}
.mobile img {
  width: 320px;
}
.tablet img {
  width: 700px;
}
.summary {
  margin-top: 50px;
  width: 50%;
}
.comment {
  display: block;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 600;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 10px;
    margin-top: 1px;
    margin-bottom: 4px;
    background-color: $black;
  }
}
.next {
  margin-top: 40px;

  > * {
    display: inline-block;
  }
  @media (max-width: $max-xs) {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  @media (min-width: $min-sm) {
    display: inline-block;
    float: right;
    bottom: 60px;
  }
}
.next__header {
  font-size: 14px;
}
.next__link {
  margin-top: 8px;
  font-size: 12px;
  width: 100%;
  display: inline-block;
}
.next__next {
  > * {
    text-align: right;
  }
  @media (max-width: $max-xs) {
    float: left;
    padding-right: 10px;
  }
}

.next__next,
.next__prev {
  @media (max-width: $max-xs) {
    width: 140px;
  }
}
.next__prev {
  @media (max-width: $max-xs) {
    padding-left: 10px;
  }
  @media (min-width: $min-sm) {
    margin-left: 40px;
  }
}
