.proj-name {
  @media (max-width: $max_xs) {
    margin-top: 80px;
  }
  @media (min-width: $min_sm) {
    margin-top: 140px;
  }
}
.proj-details {
  margin-top: 12px;
  margin-bottom: 60px;
}
.proj-detail {
  font-size: 14px;
  line-height: 1.6;
  @media (min-width: $min-sm) {
  display: inline-block;
    &:after {
      content: "|";
      display: inline-block;
      margin: 0 10px;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
.proj-header {
  margin-top: 40px;
}
.proj-content {
  margin-bottom: 160px;
  .proj-image-wrap {
    padding: 20px 0 20px 0;
  }
  h3 {
    padding: 0 0 10px 0;
  }
}
.proj-content .copy {
  max-width: 450px;
}
.proj-image {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;

  img {
    max-width: 100%;
    //box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
}
.summary {
  margin-top: 50px;
  width: 50%;
}
.comment {
  display: block;
  font-size: 12px;
  margin-top: 3px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 10px;
    margin-top: 1px;
    margin-bottom: 4px;
    background-color: $black;
  }
}
.next {
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 18px;
  > * {
    display: inline-block;
  }
}
.next__header {
  font-size: 16px;
}
.next__link {
  margin-top: 8px;
  font-size: 12px;
  width: 100%;
  display: inline-block;
}
.next__next {
  > * {
    text-align: right;
  }
}
.next__prev {
  margin-left: 20px;
}
