  <%= partial(:"partials/project-entire", :locals => {
    :name => "Matisia",
    :role => "Front-end development",
    :date => "April 2015",
    :live_link => "http://www.matisia.com",
    :live_link_name => "www.matisia.com",
    :content => [
      {
        type: "copy",
        copy: "While on co-op at <a target='_blank' href='http://www.ronikdesign.com'>Ronik</a> I worked on a team that built a marketing website for Matisia. I was one of two front-end developers. Matisia is a consulting company that aims to helps other companies improve their business strategy and organization. The site had both a fixed-width desktop and mobile version. It is a single page with seven sections."
      },
      {
        type: "copy",
        copy: "We set up a CMS on <a target='_blank' href='http://www.webhook.com/'>Webhook</a>, used <a target='_blank' href='https://github.com/ronik-design/slush-stencil'>Slush Stencil</a> to scaffold the site, templated in <a target='_blank' href='http://paularmstrong.github.io/swig/'>Swig</a>, and styled in <a target='_blank' href='https://learnboost.github.io/stylus/'>Stylus</a>."
      },
      {
        type: "image",
        size: "desktop",
        url: "../images/work/matisia/home-desktop.png",
        comment: "screenshot of the homepage on desktop"
      },
      {
        type: "image",
        size: "desktop",
        url: "../images/work/matisia/home-mobile.png",
        comment: "screenshot of the homepage on mobile"
      },
      {
        type: "copy",
        copy: "One challenge we encountered while building the site was the <a target='_blank' href='http://www.matisia.com/#consultants'>Our Consultants</a> section. It needed to be able to showcase a variable amount of videos in a repeating pattern. The solution required us to get creative with the Swig templates."
      },
      {
        type: "image",
        size: "consultants",
        url: "../images/work/matisia/consultants.png",
        comment: "screenshot of the desktop consultants page"
      },
    ],
    :after => {
      url: "../work/human-ventures.html",
      title: "Human Ventures"
    }
  }) %>
