  <%= partial(:"partials/project-entire", :locals => {
    :name => "Matisia",
    :role => "Front-end development",
    :date => "April 2015",
    :live_link => "http://www.matisia.com",
    :live_link_name => "www.matisia.com",
    :summary => "Front-end development of Matisia Consultants marketing site during my web developer co-op at <a href='http://www.ronikdesign.com/'>Ronik</a> in April 2015. A general overview of the process la la la la la. We gave the client the ability to change a variety of aspects of the site so the live site may look different than from when blah blah blah we handed it off to them and when words words.",
    :content => [
      {
        type: "copy",
        copy: "Front-end development of Matisia Consultants marketing site during my web developer co-op at <a href='http://www.ronikdesign.com/'>Ronik</a> in April 2015. A general overview of the process la la la la la. We gave the client the ability to change a variety of aspects of the site so the live site may look different than from when I handed it off to them and when words words."
      },
      {
        type: "image",
        url: "http://placehold.it/350x350",
        comment: "Placeholder comment"
      },
      {
        type: "image",
        url: "http://placehold.it/350x500",
        comment: "Placeholder comment"
      }]
  }) %>
