---
page: "about"
---

<div class="headshot">
</div>
<div class="bio">
  <p>Hi there! My name is Katie Soldau and I will graduate in May 2016 with a combined degree in Computer Science and Interactive Media from Northeastern University. My focus has been on front-end engineering, but I am also interested in visual design and UX.</p>
  <p>Right now I am working with a team of designers and web developers at <a target="_blank" href="http://northeastern.edu/scout">Scout</a>, a student-run studio at Northeastern's College of Arts, Media and Design. I am also currently creating an interactive installation for my senior capstone project.
  </p>
  <p>In my spare time I enjoy trying to get around on my penny board, geocaching, spending time in the woods, spending time in new cities, and learning a little bit about a lot of things. One of my proudest achievements is placing first in an intense 24-hour scavenger hunt.
  </p>



  <ul class="contact">
    <li>
      <a href="/ksoldau_resume.pdf" download><i class="fa fa-file-text-o"></i>Download my resume</a>
    </li>
    <li>
      <a href="mailto:ksoldau@gmail.com"><i class="fa fa-envelope-o"></i>ksoldau@gmail.com</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/ksoldau"><i class="fa fa-github-square"></i>GitHub</a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/katie-soldau-02902955"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/katiesoldau"><i class="fa fa-instagram"></i>Instagram</a>
    </li>
  </ul>

</div>
