<div class="headshot">
</div>
<div class="bio">
  <p class="copy">
    Hi there! My name is Katie Soldau and I will graduate in May 2016 with a combined degree in Computer Science and Interactive Media from Northeastern University. Right now I am working with a team of designers and developers at <a href="http://northeastern.edu/scout">Scout</a>, a student-run studio at Northeastern's College of Arts Media and Design. I am interested in all aspects of design, UI/UX, and development.
  </p>
  <p class="copy">
    I am currently looking for an internship for Spring 2016. Also, I am in the (stressful and exciting) process of trying to figure out where I want to apply to work after graduation.
  </p>
  <p class="copy">
When I'm not working, I enjoy exploring (whether that be a new bookstore or a country on a different country), scavenger hunts, geocaching, and interactive theatre.
  </p>


  <ul class="contact">
    <li>
      <a href="/resume.pdf" download><i class="fa fa-file-text-o"></i>Download my resume</a>
    </li>
    <li>
      <a href="mailto:ksoldau@gmail.com"><i class="fa fa-envelope-o"></i>ksoldau@gmail.com</a>
    </li>
    <li>
      <a href="https://github.com/ksoldau"><i class="fa fa-github-square"></i>GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/katie-soldau-02902955"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
    </li>
    <li>
      <a href="https://www.instagram.com/katiesoldau"><i class="fa fa-instagram"></i>Instagram</a>
    </li>
  </ul>

</div>
