---
page: "home"
---

<div class="hero">
  <h1 class="hero__name">Katie Soldau</h1>
  <p class="hero__desc">Hi! I'm a web developer with an interest in design, UI/UX, and development. In May 2016, I will graduate with a combined degree in Computer Science and Interactive Media.</p>
</div>
<div class="projects">
<h2 class="projects__header">Recent Work</h2>
<ul class="projects__list">
  <% data.projects.order.each do |proj| %>

  <%= partial(:"partials/project-tile", :locals => {
    :name => data.projects[proj].name,
    :role => data.projects[proj].role,
    :img_url => data.projects[proj]['img-url'],
    :details_url => data.projects[proj]['details-url']
  }) %>

  <% end %>

  </ul>
  <div class="clear"></div>
</div>
